<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />

<p>
  <mat-toolbar color="accent" *ngIf="isLoggedIn">
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button>
    <img src="assets/fishbook.png" alt="Logo" class="logo">
    <span></span>
    <span class="example-spacer"></span>
     <!-- Add links to Create Post and Posts pages -->
     <a mat-button routerLink="/create-post">Create Post</a>
     <a mat-button routerLink="/posts">Posts</a>
    <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
      <mat-icon>favorite</mat-icon>
    </button>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
      <mat-icon>share</mat-icon>
    </button>
  </mat-toolbar>
</p>
