.content-container {
  display: flex;
  justify-content: center;
}

.post-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.post-box {
  width: 100%;
  max-width: 600px;
  margin-bottom: 20px;
  padding: 20px;
  border: 1px solid #FFDAB9;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.image-container {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

.post-image {
  max-width: 100%;
  height: auto; 
  max-height: 300px; 
}

.button-container {
  display: flex;
  justify-content: flex-start;
  margin-top: 10px;
}
.post-title {
  font-weight: bold;
}
.button-container {
  display: flex;
  justify-content: flex-start; 
  margin-top: 10px;
}

.button-container button {
  margin-right: 8px; 
}
.edit-form-container {
  margin-top: 20px;
}

.edit-input {
  width: 100%;
  margin-bottom: 15px;
}
.edit-buttons {
  margin-top: 15px;
}

.edit-buttons button {
  margin-right: 8px; /* Adjust the margin between buttons */
}
/* Like and Dislike Buttons */
.like-dislike-buttons {
  display: flex-start;
  justify-content: space-between;
  margin-top: 10px;
}

.like-dislike-buttons button {
  padding: 8px;
  border: none;
  background: none;
  cursor: pointer;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.like-dislike-buttons button:hover {
  transform: translateY(-2px);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.like-button {
  color: #64b5f6; /* Like button color */
}

.dislike-button {
  color: #ef5350; /* Dislike button color */
}

.like-button:hover {
  color: #2196f3; /* Like button hover color */
}

.dislike-button:hover {
  color: #e53935; /* Dislike button hover color */
}



