.content-container {
  display: flex;
  justify-content: center;
}

.post-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.post-box {
  width: 100%;
  max-width: 600px;
  margin-bottom: 20px;
  padding: 20px;
  border: 1px solid #FFDAB9;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.post-image {
  max-width: 100%;
  height: auto; 
  max-height: 300px; 
}

.post-title {
  font-weight: bold;
}

.like-dislike-buttons {
  display: flex-start;
  justify-content: space-between;
  margin-top: 10px;
}

.like-dislike-buttons button {
  padding: 8px;
  border: none;
  background: none;
  cursor: pointer;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.like-dislike-buttons button:hover {
  transform: translateY(-2px);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.like-button {
  color: #64b5f6; /* Like button color */
}

.dislike-button {
  color: #ef5350; /* Dislike button color */
}

.like-button:hover {
  color: #2196f3; /* Like button hover color */
}

.dislike-button:hover {
  color: #e53935; /* Dislike button hover color */
}

.edit-form-container {
  margin-top: 20px;
}

.edit-input {
  width: 100%;
  margin-bottom: 15px;
}

.edit-buttons {
  margin-top: 15px;
}

.edit-buttons button {
  margin-right: 8px; /* Adjust the margin between buttons */
}

/* Comments Section */
.comments-section {
  margin-top: 20px;
}

.add-comment {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.comment-input {
  flex-grow: 1;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-right: 10px;
}

.add-comment-button {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.add-comment-button:hover {
  background-color: #0056b3;
}

.comment {
  background-color: #f9f9f9;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}

.comment-author {
  font-weight: bold;
  color: #555;
}

.reply-button {
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
  padding: 5px 10px;
  border-radius: 5px;
  margin-left: 10px;
}

.reply-button:hover {
  background-color: #0056b3;
}

.replies {
  margin-top: 10px;
  margin-left: 20px;
}

.reply {
  background-color: #eaeaea;
  border-radius: 5px;
  padding: 10px;
  margin-top: 10px;
}

.reply-author {
  font-weight: bold;
  color: #555;
}

.reply-input-container {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.reply-input {
  flex-grow: 1;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-right: 10px;
}

.add-reply-button {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.add-reply-button:hover {
  background-color: #0056b3;
}
