<mat-paginator [length]="totalPosts" [pageSize]="postsPerPage" [pageSizeOptions]="[5, 10, 20]" (page)="onPageChange($event.pageIndex + 1)">
</mat-paginator>
<div class="content-container">
  <ng-container *ngIf="posts.length > 0; else noPosts">
    <div class="post-container">
      <div class="post-row">
        <div class="post-box" *ngFor="let post of posts; let i = index" [class.even]="i % 5 === 0" [class.odd]="i % 5 !== 0">
          <h3 class="post-title">{{ post.title }}</h3>
          <div class="post-content">
            <p>{{ post.content }}</p>
            <img *ngIf="post.imageUrl" [src]="post.imageUrl" alt="Post Image" class="post-image">
            <mat-action-row>
              <button mat-button color="primary" (click)="onEditPost(post._id)">Edit</button>
              <button mat-button color="warn" (click)="onDeletePost(post._id)">Delete</button>
            </mat-action-row>
            <div *ngIf="editingPostId === post._id">
              <form (ngSubmit)="onSavePost(post)">
                <mat-form-field>
                  <mat-label>Title</mat-label>
                  <input matInput [(ngModel)]="post.title" name="title">
                </mat-form-field> &nbsp;
                <mat-form-field>
                  <mat-label>Content</mat-label>
                  <textarea matInput [(ngModel)]="post.content" name="content"></textarea>
                </mat-form-field> &nbsp;
                <button mat-raised-button color="primary" type="submit">Save</button> -
                <button mat-raised-button color="warn" (click)="onCancelEdit()">Cancel</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </ng-container>
  <ng-template #noPosts>
    <p class="info-text mat-body-1">No posts added yet!</p>
  </ng-template>
</div>
