.post-form {
  display: flex;
  flex-direction: column;
  padding: 16px;
}

.mat-form-field {
  margin-bottom: 16px;
  width: 100%;
}

.button-container {
  display: flex;
  justify-content: flex-end;
}
